tqdm
plotly
dash
pyyaml
numpy
smplx
termcolor
zmq
flask
Flask-SocketIO
trimesh==3.23.5
Ninja
openpyxl
torch==1.10.0
torchelastic==0.2.0
torchtext==0.11.0
torchvision==0.11.1
pandas==1.3.5
scipy==1.7.3
open3d==0.17.0